# Ignore the folders lectureslides and prevpapers
LectureSlides/
PrevPapers/

# Ignore merged files
*.zip

*.canvas
Untitled.md

# Ignore images and video files
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.vtt

.obsidian/